/*标签变化以及文章标签*/
.post-entry-categories {
    margin-bottom: 10px;
}

.post-entry-categories a {
    padding: 4px 8px;
    background-color: #19B5FE;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    margin: 3px 5px 3px 0;
    border-radius: 2px;
    display: inline-block;
}

.post-entry-categories a:nth-child(5n) {
    background-color: #4A4A4A
}

.post-entry-categories a:nth-child(5n+1) {
    background-color: #ff5e5c
}

.post-entry-categories a:nth-child(5n+2) {
    background-color: #ffbb50
}

.post-entry-categories a:nth-child(5n+3) {
    background-color: #1ac756
}

.post-entry-categories a:nth-child(5n+4) {
    background-color: #19B5FE
}

.post-entry-categories a:hover {
    background-color: #1B1B1B;
    color: #FFF
}

.widget-tag-cloud a:hover {
    color: #FFF;
    background: #00a7eb;
    border-color: #00a7eb
}

.widget-tag-cloud li:hover {
    color: #FFF;
    background: #00a7eb;
    border-color: #00a7eb
}

/*导航盒阴影*/
#header {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}

.card {
    box-shadow: 1px 1px 10px 1px red;
}

/*侧边栏分割线动画*/
.widget h3:after {
    content: "";
    background-color: #282828;
    left: 1px;
    width: 50px;
    height: 2px;
    bottom: -2px;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.widget:hover h3::after {
    width: 70px;
}


#header .logo a {
    transition: none;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    width: 220px;
    height: 80px;
    left: -20px;
}

/*底部*/
#myfooter {
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
    bottom: 0;
}


.onefooter {
    padding: 30px 0;
    font-size: 12px;
    background-color: #f6f6f6;
}

.onefooter .onefootercopyright {
    text-align: center;
    font-size: 15px;
    line-height: 2.5;
}

body {
    background: #f6f6f6;
}

.about-title {
    position: relative;
    margin: 0 0 20px;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}

.about-title .title {
    position: relative;
    font-size: 26px;
    display: block;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0 0 25px;
}

.about-title:after {
    content: "";
    background-color: #282828;
    left: 0;
    width: 60px;
    height: 2px;
    bottom: -2px;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.about-title:hover:after {
    width: 100%;
}

.comment-btn:hover {
    background: #282828
}

textarea {
    overflow: auto;
    vertical-align: text-bottom;
    *vertical-align: auto;
    border: 1px solid;
    resize: vertical;
}

#id_comment, #id_email, #id_name, #id_url {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px 14px;
    border: 1px solid #eaeaea;
    font-size: 14px;
}

#label_comment, #label_name, #label_email {
    color: red;
}

.comment-list-title, .comment-title {
    font-size: 20px;
    color: #282828;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}

.comment-title:after, .comment-list-title:after {
    content: "";
    background-color: #282828;
    left: 0;
    width: 60px;
    height: 2px;
    bottom: -2px;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.comment-title:hover:after, .comment-list-title:hover:after {
    width: 100%;
}

.posts-default-img {
    position: relative;
    overflow: hidden;
    max-height: 300px;
    height: auto;
    width: 100%;
}

.posts-default-img a {
    position: relative;
    display: block;
    opacity: 1;
}

.posts-default-img img {
    width: 100%
}

.entry-content .posts-default-img a:hover {
    opacity: 0.5;
    transition: 1s;
}

.more-link a:after, .more-link:hover {
    background-color: #00a7eb;
    border: 2px solid #00a7eb;
    border-radius: 3px;
    color: white;
}

.breadcrumb {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px 25px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
}

.breadcrumb .seq {
    color: #2b91af;
}

.breadcrumb .current {
    color: #ff0003
}

.mod-archive-list li {
    line-height: 30px;
    margin-bottom: 2px;
    list-style: disc
}

.mod-archive-list li span {
    color: #848484;
    font-size: 12px;
    float: right
}

.mod-archive-year {
    color: #19B5FE;
    font-family: Courier, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 25px
}

.mod-archive-time {
    color: #666;
    font-size: 14px;
    margin-right: 10px
}

.mod-archive-list {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 30px
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdowns-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    margin-top: 10px;

}


.dropdowns-content > li > a {
    font-size: 15px;
    font-weight: 400;
    color: #404040;
    line-height: 28px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdowns-content > li > a:hover {
    background-color: #00a7eb
}


.dropdown:hover .dropdowns-content {
    display: block;
}




